doctype html
html(class="no-js")
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    title Vue.js
    meta(name="viewport", content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no")
  body
    div#app
      | {{name}}
    script(src="./app.js")
